{% load static %}
<html>
<body>
<link rel="stylesheet" href="{% static 'language/index_style.css' %}">
<script type="text/javascript" src={% static 'js/index.js' %}></script>
<form action="upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <span style="display: none">
        <span id="file-field-clone" >
            <fieldset>
                <legend><h1>파일 업로드</h1></legend>
                <input name="file" type="file">
            </fieldset>
            <div>정답 : <input name="answer" type="text"></div>
        </span>
    </span>
    <span id="file-field">
        <span>
            <fieldset>
                <legend><h1>파일 업로드</h1></legend>
                <input name="files1" type="file">
            </fieldset>
            <div>정답 : <input name="answer1" type="text"></div>
        </span>
    </span>
    <input type="hidden" name="file-cnt" id="file-cnt" value='1'>
    
    <div>
        <input type="submit" value="업로드">
        <img type="button" onClick="AddFile()" style="width:40px; height:40px;" src={% static 'img/plus.png' %}> 
    </div>
</form>
</body>
</html>